// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #0D6EFD;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;


$dark-grey: #1F1F1F;
$mid-grey: #363636;
$light-grey: #c7c7c7;
$greyish-green: #11332E;
$dark-green: #132518;
$mid-green: #003D2B;
// $light-green: #5DE9B3;
// $light-green: #00c87b;
// $light-green: #01be40;
$light-green: #03d051;
