.about-body {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about-half {
  display: flex;
  margin: 16px 0px;
  p {
    color: $light-grey;
    font-size: 20px;
    // margin: 32px;
    text-align: justify;
    font-family: Montserrat;
    line-height: 32px;
  }
}

.about-image {
  height: 700px;
}

.image-left {
  margin-right: 32px;
}

.image-right {
  margin-left: 32px;
}



@media screen and (max-width: $tablet) {
  .about-body {
    width: 100%;
  }
  .about-half {
    flex-direction: column;
    width: 100%;
    .about-image {
      width: 100%;
      margin: 24px 0px;
      object-fit: contain;
      height: auto;
    }
    p {
    font-size: 16px;
    margin: 0px 12px;
    }
  }

  .image-left {
    margin-right: 0px;
  }

  .image-right {
    margin-left: 0px;
  }
  .book-title {
    margin-bottom: 0px;
  }
}
