// Specific CSS for your home-page

@import url(https://fonts.googleapis.com/css?family=Lato:400,300);

body {
  // background: #332B33;
  // background: #2b332b;
  background: $dark-grey;
}

.body-background {
  margin-top: 36px;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 80vh;
}


.home-card-wide-outer-left{
  display: flex;
  justify-content: flex-start;
  margin: 64px 0px;

}

.home-card-wide-outer-right {
  display: flex;
  justify-content: flex-end;
  margin: 16px 0px;
}

.home-card-wide-inner-left {
  background-color: $mid-grey;
  color: $light-grey;
  width: 80%;
  padding: 16px;
  border-top-right-radius: 16px;
  border-bottom-right-radius: 16px;
  display: flex;
  justify-content: center;
  text-align: justify;
  align-items: center;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.704);
  p {
    margin: 0px;
  }
}

.home-card-wide-inner-right {
  background-color: $mid-grey;
  color: $light-grey;
  width: 80%;
  padding: 16px;
  border-top-left-radius: 16px;
  border-bottom-left-radius: 16px;
  display: flex;
  justify-content: center;
  text-align: justify;
  align-items: center;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.704);
  p {
    margin: 0px;
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.neon-border-hp {
  box-shadow: inset 0px 0px 15px white,
      0px 0px 15px white,
      inset 0px 0px 40px $light-green,
      0px 0px 40px $light-green;
  overflow: hidden;
  border-radius: 12px;
  height: 500px;
  display: inline-block;
  position: relative;

}

.neon-border-hp::before {
  pointer-events: none;
  content: "";
  position: absolute;
  background: $light-green;
  top: 120%;
  left: 0;
  width: 100%;
  height: 100%;

  transform: perspective(1em) rotateX(40deg) scale(1, 0.35);
  filter: blur(1em);
  opacity: 0.7;
}
