.music-body {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 128px 0px;
}

.music-section {
  z-index: 10;
  margin: 32px 0px;
  width: 80%;
  display: flex;
  justify-content: space-between;
  iframe {
    border: 1px solid $light-grey;
    box-shadow: 10px 10px 10px black;
    // margin: 0px 8px;
    transition: 0.5s;
      height: 234px;
  }
  iframe:hover {
    transition: 0.5s;
    transform: scale(1.05);
    box-shadow:
        0px 0px 1px white,
        // inset 0px 0px 40px $light-green,
        0px 0px 15px $light-green;
  }
}



@media screen and (max-width: $tablet) {
  .music-section {
    flex-direction: column;
    margin: 0px;
    iframe {
      width: 100%;
      margin-bottom: 24px;
      height: 234px;
    }
  }
}
