<div class="body-background">
  <div class="book-title">
    <h1 class="neon-button">
      About
    </h1>
    <h5>
      TM Vibes - Producer
    </h5>
  </div>
  <div class="about-body">
    <div class="about-half">
      <%= cl_image_tag("TMVibes-image-1_y3feop", class: "about-image image-left") %>

      <p>
        TMVibes is a Nigerian producer based in London UK. Specialising in afrobeats, he delivers music that is richly dynamic with an infectious vibe, his style is energising and uplifting.
        <br>
        <br>
        Originally from Warri, Delta State, the region is known for some popular afrobeat artists. Music came his way as a 14-year-old when he joined a local choir.<br>
        Feeling the essence of live music, he was the choir's drummer,and also established skills with the keyboard and guitar.<br>
        His connection with live instruments fuelled his passion for wanting to create music and his talent was enhanced further by learning how to use music production software. Listening to various music styles, such as house music & country, it was afrobeats that captured his heart and he soon began working on his very own productions.

      </p>
    </div>

    <div class="about-half">
      <p>Inspired by his brother's musical talent, as a singer, he began producing for him and artists such as “Kuti Lego”, creating songs such as "Melody", which showcase his remarkable talent. Currently working with new artists, TMVibes is an exciting afrobeat producer, he strives to deliver inspiring music.
      </p>
      <%= cl_image_tag("TMVibes-image-2_zdrs7x", class: "about-image image-right") %>

    </div>
  </div>
</div>
