<div class="body-background">
  <div class="book-title">
    <h1 class="neon-button">
      Lifestyle / Gallery
    </h1>

  </div>

  <div class="gallery-body">
    <div class="gallery-half">
      <%= cl_image_tag("TMVibes-image-4_fe4eom", class: "gallery-image-full") %>

    </div>

    <div class="gallery-half">
      <%# <%= cl_image_tag("TMVibes-image-5_hbe8mb", class: "gallery-image-half") %>
      <%# <%= cl_image_tag("TMVibes-image-6_bmgxj3", class: "gallery-image-half") %>
      <div class="purple-rectangle"></div>
      <div class="green-rectangle"></div>
    </div>
  </div>

</div>
