<div class="body-background">
  <div class="book-title">
    <h1 class="neon-button">
      Lifestyle / Gallery
    </h1>

  </div>

  <div class="about-body">
    <div class="about-half">
      <%= image_tag "TMVibes-image-1.jpeg", class: "about-image" %>
      <p>Lorem ipsum dolor sit amet. Ut ipsum omnis est accusantium adipisci et ullam quasi. Qui nihil maiores At excepturi eius in architecto quasi non voluptas eveniet.

      Aut reiciendis iste ut praesentium facilis ad perferendis distinctio qui omnis consequuntur sed expedita natus sit ipsum architecto. Et officia consequuntur sed ipsam totam eos quia recusandae. In sint omnis aut libero repudiandae sit omnis dolorum. Non deleniti accusamus qui rerum minus At consequatur soluta?</p>
    </div>

    <div class="about-half">
      <p>Lorem ipsum dolor sit amet. Ut ipsum omnis est accusantium adipisci et ullam quasi. Qui nihil maiores At excepturi eius in architecto quasi non voluptas eveniet.

      Aut reiciendis iste ut praesentium facilis ad perferendis distinctio qui omnis consequuntur sed expedita natus sit ipsum architecto. Et officia consequuntur sed ipsam totam eos quia recusandae. In sint omnis aut libero repudiandae sit omnis dolorum. Non deleniti accusamus qui rerum minus At consequatur soluta?</p>
      <%= image_tag "TMVibes-image-2.jpeg", class: "about-image" %>
    </div>
  </div>

</div>
