<div class="body-background">
  <div class="home-idea-one neon-border-hp">
    <%# <h1>Homepage idea 1</h1> %>
    <svg version="1.1" xmlns="http://www.w3.org/2000/svg">
      <filter id="blur">
        <fegaussianblur stddeviation="10"></fegaussianblur>
      </filter>
    </svg>
    <div class="h">
      <h1>TM VIBES</h1>
      <h2>MUSIC PRODUCER</h2>
      <% (1..60).each do %>
        <div class="c"></div>
      <% end %>
    </div>
  </div>

  <%# <div class="home-idea-two">
    <div class="card">
      Magic Card
    </div>

    <a href="https://mythrillfiction.com/" target="_blank">Mythrill</a>
  </div> %>

  <%# <div class="gallery-half">
      <%= cl_image_tag("TMVibes-image-4_fe4eom", class: "gallery-image-full") %>


  <%# <div class="home-banner">
    <h3>Music</h3>
    <h3>Gallery</h3>
    <h3>Shop</h3>
  </div> %>


  <%# CARDS FOR HOME PAGE, NOT CURRENTLY USED %>
  <%# <div class="home-card-wide-outer-left">
    <div class="home-card-wide-inner-left">
      <p>Lorem ipsum dolor sit amet. Ut ipsum omnis est accusantium adipisci et ullam quasi. Qui nihil maiores At excepturi eius in architecto quasi non voluptas eveniet.

      Aut reiciendis iste ut praesentium facilis ad perferendis distinctio qui omnis consequuntur sed expedita natus sit ipsum architecto. Et officia consequuntur sed ipsam totam eos quia recusandae. In sint omnis aut libero repudiandae sit omnis dolorum. Non deleniti accusamus qui rerum minus At consequatur soluta?</p>
    </div>
  </div>

  <div class="home-card-wide-outer-right">
    <div class="home-card-wide-inner-right">
      <p>Lorem ipsum dolor sit amet. Ut ipsum omnis est accusantium adipisci et ullam quasi. Qui nihil maiores At excepturi eius in architecto quasi non voluptas eveniet.

      Aut reiciendis iste ut praesentium facilis ad perferendis distinctio qui omnis consequuntur sed expedita natus sit ipsum architecto. Et officia consequuntur sed ipsam totam eos quia recusandae. In sint omnis aut libero repudiandae sit omnis dolorum. Non deleniti accusamus qui rerum minus At consequatur soluta?</p>
    </div>
  </div> %>

</div>
