<div class="body-background">
  <h1 href="#" class="neon-button">MUSIC</h1>

  <div class="music-body">
    <div class="music-section">
      <iframe style="border-radius:12px" src="https://open.spotify.com/embed/track/5pJ6e6SDprQDjxD7pl21bU?utm_source=generator&theme=0" width="23%" height="352" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
      <iframe style="border-radius:12px" src="https://open.spotify.com/embed/track/4ZVHY0jAcjNuDr9IrNAJau?utm_source=generator&theme=0" width="23%" height="352" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
      <iframe style="border-radius:12px" src="https://open.spotify.com/embed/track/1DCpSJ85R4pPfUoQj4VuSc?utm_source=generator&theme=0" width="23%" height="352" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
      <iframe style="border-radius:12px" src="https://open.spotify.com/embed/track/519DiSTI1qdbzpT1r4uTQt?utm_source=generator&theme=0" width="23%" height="352" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
    </div>
    <div class="music-section">
      <iframe style="border-radius:12px" src="https://open.spotify.com/embed/album/3yWAdk2LIb5XsD8jFWdcki?utm_source=generator&theme=0" width="48%" height="380" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
      <iframe style="border-radius:12px" src="https://open.spotify.com/embed/album/11FrjFHl1LiSLf2OWlMRF7?utm_source=generator&theme=0" width="48%" height="380" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
    </div>
    <div class="music-section">
      <iframe style="border-radius:12px" src="https://open.spotify.com/embed/track/7jLchbAc0yzkhOLbw2zXVR?utm_source=generator&theme=0" width="23%" height="352" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
      <iframe style="border-radius:12px" src="https://open.spotify.com/embed/track/2uZe7NyM2dUJGPhZiPyRWo?utm_source=generator&theme=0" width="23%" height="352" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
      <iframe style="border-radius:12px" src="https://open.spotify.com/embed/track/4pe8p2Cl1bHDnQukb2F5eC?utm_source=generator&theme=0" width="23%" height="352" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
      <iframe style="border-radius:12px" src="https://open.spotify.com/embed/track/3mUlQKNe55kKIpCj4jViXW?utm_source=generator&theme=0" width="23%" height="352" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
    </div>
    <div class="music-section">
      <iframe style="border-radius:12px" src="https://open.spotify.com/embed/track/77R9J3ArszeOscfbLrTTmw?utm_source=generator&theme=0" width="23%" height="352" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
      <iframe style="border-radius:12px" src="https://open.spotify.com/embed/track/0g4mAlWkceHHoVmVFSeoim?utm_source=generator&theme=0" width="23%" height="352" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
      <iframe style="border-radius:12px" src="https://open.spotify.com/embed/album/6i0oQT2EX8ssys1ITrEEZT?utm_source=generator&theme=0" width="23%" height="352" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
      <iframe style="border-radius:12px" src="https://open.spotify.com/embed/track/6endg1QrRWO6GbGzPzLsWc?utm_source=generator&theme=0" width="23%" height="352" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
    </div>
  </div>

</div>
