.footer-outer {
  display: flex;
  flex-direction: column;
  position: relative;
  height: 200px;
  width: 100%;
}

.footer-top {
  height: 50px;
  width: 100%;
  background-image: linear-gradient($dark-grey, rgba(0, 0, 0, 0));
  position: absolute;
  bottom: 150px;
}

.footer-bottom {
  background: linear-gradient(-45deg, $mid-green, $dark-green, $mid-green,
    $dark-green);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
  height: 200px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

.footer-social-media {
  color: $light-grey;
  font-size: 24px;
  margin-right: 64px;
  display: flex;
  align-items: center;
  i {
    margin: 8px;
  }
  a {
    text-decoration: none;
    color: $light-grey;
    transition: 0.5s;
  }
  a:hover{
    color: white;
    text-shadow: 0px 0px 5px white;
  }
}
